# Fixes a crash on macOS due to the dynamic linker not recognizing homebrew libs
export DYLD_LIBRARY_PATH=""

# Set the virtual env name because it's created by uv, which differs from the direnv default dir
export VIRTUAL_ENV=".venv"
export VIRTUAL_ENV_PROMPT="regulAItor"
layout python
